venv/

# Testing files
test/

# PyCharm
.idea/

# Python
__pycache__/

# PyInstaller testing and other stuff
__pyinst__/
configGen.spec
counter.spec
upgrader.spec

# log files
logs/

# VSCode and theia
.theia/
.vscode/

# GitPod stuff
index.html 
gitlogs.txt 
 
 
# Windows stuff 
desktop.ini 
